[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anytree = "*"
rebench = "*"
benchexec = "*"
mercury-settrie = "*"
svgwrite = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.13"
