@type: POMDP
@parameters

@reward_models

@nr_states
8
@nr_choices
13
@model
state 0 {0} init
	action initialdistr
		1 : 0.2
		2 : 0.2
		3 : 0.2
		4 : 0.2
		5 : 0.2
state 1 {1}
	action cycle
		6 : 1
	action bus
		7 : 1
state 2 {2}
	action cycle
		6 : 1
	action bus
		7 : 1
state 3 {3}
	action cycle
		6 : 1
	action bus
		7 : 1
state 4 {4}
	action stationwagon
		7 : 1
	action bus
		7 : 1
state 5 {5}
	action train
		7 : 1
	action oops
		7 : 1
state 6 {6} good
	action loop
		6 : 1
state 7 {7} bad
	action loop
		7 : 1
