// ??
pomdp

observables
	s
endobservables

module clk
    s : [0..6] init 0;

	[alpha] s=0 -> 0.2 : (s'=5) + 0.8 : (s'=6);
	[beta] s=0 -> 0.5 : (s'=5) + 0.5 : (s'=6);
	[] s>0 -> (s'=s);
endmodule

label "good" = s=5;
